.parent {
    width: 200px;
    height: 200px;
    background-color: blue;

    .child {
        width: 100px;
        height: 100px;
        background-color: red;}
    .child2 {
        color: red;
    }       
}